.asd{
    min-height: 100px;
    background-color: #cccccc;
}
.test{
    min-height: 100px;
    background-color: #cccccc;
}
.leftonclick{
    min-height: 100px;
    background-color: #7f7f7f;
}
.bcgall{
    width: 100%;
    background-color: #df1515;
}