.asd{
    min-height: 10vh;
    background-color: #cccccc;
}
.test{
    min-height: 10vh;
    background-color: #cccccc;
}
.leftonclick{
    min-height: 10vh;
    background-color: #7f7f7f;
}
.backgroundred{
    height: 100vh;
    background-color: #df1515;
    padding-left: 0;
    padding-right: 0;
}
.pic{
    height: 200px;
}
.bcgall{
    background-image: url("background.png");
}
.secondone{
    height: 90vh;
}