.asd{
    min-height: 10vh;
    background-color: #cccccc;
}
.test{
    min-height: 10vh;
    background-color: #cccccc;
}
.leftonclick{
    min-height: 10vh;
    background-color: #7f7f7f;
}
.bcgall{
    height: 90vh;
    background-color: #df1515;
}